<section
  class="w-full h-screen m-auto inset-0 absolute grid grid-cols-9 sm:grid-cols-9 md:grid-cols-10 flex-col bg-green-500"
>
  <div class="bar bar3 relative h-full w-full bg-[#fafafa]"></div>
  <div class="bar bar1 relative h-full w-full bg-[#898989ff]"></div>
  <div class="bar bar3 relative h-full w-full bg-[#fafafa]"></div>
  <div class="bar bar1 relative h-full w-full bg-[#898989ff]"></div>
  <div class="bar bar3 relative h-full w-full bg-[#fafafa]"></div>
  <div class="bar bar1 relative h-full w-full bg-[#898989ff]"></div>
  <div class="bar bar3 relative h-full w-full bg-[#fafafa]"></div>
  <div class="bar bar1 relative h-full w-full bg-[#898989ff]"></div>
  <div class="bar bar3 relative h-full w-full bg-[#fafafa]"></div>
  <div class="bar bar1 relative h-full w-full bg-[#898989ff]"></div>
</section>
