<div class=" relative">
  <div class="w-screen cursor"></div>
  <div class="shapes">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
  </div>
  </div>
  <div class="content">

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
document.body.addEventListener("mousemove", (evt) => {
    const mouseX = evt.clientX
    const mouseY = evt.clientY

    gsap.set(".cursor", {
      x: mouseX,
      y: mouseY,
    })

    gsap.to(".shape", {
      x: mouseX,
      y: mouseY,
      stagger: -0.1,
    })
  })
  <style>

  body,
  body * {
    max-width: 100vw;
    overflow-x: hidden;
    cursor: none;
  }
  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
  

  }
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
  }
  .shape.shape-1 {
    /* background: #005ffe; */
    background: #fff;
    mix-blend-mode: overlay;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
  }
  .shape.shape-2 {
    /* background: #005ffe; */
    background: #fff;
    mix-blend-mode: difference;
    width: 65px;
    height: 65px;
    margin: -32.5px 0 0 -32.5px;
  }
  .shape.shape-3 {
    background: #fff;
    mix-blend-mode: difference;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    /* z-index: 1000; */
  }

  .content {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #000;
    mix-blend-mode: screen;
  }

  .cursor {
    position: fixed;
    background: #fff;
    mix-blend-mode: difference;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 100;
  }
</style>

