
  <div class="hero w-screen relative h-screen overflow-hidden grid items-center bg-black ">
    <img
    class="absolute w-full h-full object-cover"
    src="/assets/img/hero1.png"
    alt=""
    />
    <img
   class="groupLight relative w-full h-full object-cover" src="/assets/img/hero1.png"
   alt="" />
   
  </div>