<script src="sliderengine/jquery.js"></script>
    <script src="sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-1.css">
    <script src="sliderengine/initslider-1.js"></script>

<div class="bg w-full h-full bg-wild-blue -z-10 absolute"></div>

{% set postslist = collections.post %} {% for post in postslist | reverse %}

<section class="mt-15 px-10">
    {% for post in postslist | reverse %}
        <article class="my-8 w-4/5">
            <img src="{{  post.data.image }}" alt="" class="relative">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>
<div class="slider w-full h-max relative">
     <div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:600px;margin:0px auto 102px;">
        <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li><a href="https://www.youtube.com/embed/XVcwEC5gMWY" class="html5lightbox"><img src="images/XVcwEC5gMWY.jpg" alt="נוטשים"  title="נוטשים" data-texteffect="Bottom bar" /></a>
                </li>
                <li><img src="images/qhxsLNFZWzM.jpg" alt="ראיתי גל"  title="ראיתי גל" />
                <video preload="none" src="https://www.youtube.com/embed/qhxsLNFZWzM?v=qhxsLNFZWzM" ></video>
                </li>
                <li><img src="images/eYtCuXZEiuU.jpg" alt="היה לי לב עשוי מתמרוקים"  title="היה לי לב עשוי מתמרוקים" />
                <video preload="none" src="https://www.youtube.com/embed/eYtCuXZEiuU?v=eYtCuXZEiuU" ></video>
                </li>
                <li><img src="images/Mulj9V541Io.jpg" alt="אנטי שפע וישראל ברייט - אדם צריך בית"  title="אנטי שפע וישראל ברייט - אדם צריך בית" />
                <video preload="none" src="https://www.youtube.com/embed/Mulj9V541Io?v=Mulj9V541Io" ></video>
                </li>
                <li><img src="images/zxhUsRo3Z0c.jpg" alt="אל תפטפט"  title="אל תפטפט" />
                <video preload="none" src="https://www.youtube.com/embed/zxhUsRo3Z0c?v=zxhUsRo3Z0c" ></video>
                </li>
                <li><img src="images/EbHgMG5MqKk.jpg" alt="נערה מן הקטמונים"  title="נערה מן הקטמונים" />
                <video preload="none" src="https://www.youtube.com/embed/EbHgMG5MqKk?v=EbHgMG5MqKk" ></video>
                </li>
                <li><img src="images/liJQ23NO-NE.jpg" alt="לחם שחור - איתי מאירסון"  title="לחם שחור - איתי מאירסון" />
                <video preload="none" src="https://www.youtube.com/embed/liJQ23NO-NE?v=liJQ23NO-NE" ></video>
                </li>
                <li><img src="images/ZSHFBRFAwIA.jpg" alt="דיאלוג הונגרי-עברי"  title="דיאלוג הונגרי-עברי" data-description="שמואל וולף, חגי ליניק" />
                <video preload="none" src="https://www.youtube.com/embed/ZSHFBRFAwIA?v=ZSHFBRFAwIA" ></video>
                </li>
                <li><img src="images/7UH3HCz_Q0I.jpg" alt="נתן זך - מות אמי"  title="נתן זך - מות אמי" />
                <video preload="none" src="https://www.youtube.com/embed/7UH3HCz_Q0I?v=7UH3HCz_Q0I" ></video>
                </li>
                <li><img src="images/DLffbJaWk70.jpg" alt="יהושע קנז"  title="יהושע קנז" />
                <video preload="none" src="https://www.youtube.com/embed/DLffbJaWk70?v=DLffbJaWk70" ></video>
                </li>
                <li><img src="images/JcjIUrvSMEg.jpg" alt="הייתי ילדה והבנתי את כל זה לא נכון"  title="הייתי ילדה והבנתי את כל זה לא נכון" data-description="משירי פהמי נורין" />
                <video preload="none" src="https://www.youtube.com/embed/JcjIUrvSMEg?v=JcjIUrvSMEg&list=PLmJkrxWS9UT2p1UL-ETazG9AVkzBSPc3I" ></video>
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="images/XVcwEC5gMWY-tn.jpg" alt="נוטשים" title="נוטשים" /></li>
                <li><img src="images/qhxsLNFZWzM-tn.jpg" alt="ראיתי גל" title="ראיתי גל" /></li>
                <li><img src="images/eYtCuXZEiuU-tn.jpg" alt="היה לי לב עשוי מתמרוקים" title="היה לי לב עשוי מתמרוקים" /></li>
                <li><img src="images/Mulj9V541Io-tn.jpg" alt="אנטי שפע וישראל ברייט - אדם צריך בית" title="אנטי שפע וישראל ברייט - אדם צריך בית" /></li>
                <li><img src="images/zxhUsRo3Z0c-tn.jpg" alt="אל תפטפט" title="אל תפטפט" /></li>
                <li><img src="images/EbHgMG5MqKk-tn.jpg" alt="נערה מן הקטמונים" title="נערה מן הקטמונים" /></li>
                <li><img src="images/liJQ23NO-NE-tn.jpg" alt="לחם שחור - איתי מאירסון" title="לחם שחור - איתי מאירסון" /></li>
                <li><img src="images/ZSHFBRFAwIA-tn.jpg" alt="דיאלוג הונגרי-עברי" title="דיאלוג הונגרי-עברי" /></li>
                <li><img src="images/7UH3HCz_Q0I-tn.jpg" alt="נתן זך - מות אמי" title="נתן זך - מות אמי" /></li>
                <li><img src="images/DLffbJaWk70-tn.jpg" alt="יהושע קנז" title="יהושע קנז" /></li>
                <li><img src="images/JcjIUrvSMEg-tn.jpg" alt="הייתי ילדה והבנתי את כל זה לא נכון" title="הייתי ילדה והבנתי את כל זה לא נכון" /></li>
            </ul>
        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive jQuery Slider">Responsive jQuery Slider</a></div>
        </div>
    </div>
</div>

<style>
    img {
    width: 300px;
    transform: scale(.5)
}
</style>