---
title: דף הבית
layout: "base.njk"
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet"
/>
<script src="//unpkg.com/alpinejs" defer></script>

<div
  class="hero relative m-auto inset-0 flex flex-col justify-center items-center h-screen"
>
  {% include 'hero.njk' %}
</div>
<div class="">{% include 'about.njk' %}</div>
<div class="divider absolute z-[2] w-[120vw] h-max -ml-10 -mt-[300px] block">
  <img src="assets/img/slice1.png" alt="">
</div>
<div>{% include 'postList.njk' %}</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  gsap.registerPlugin(ScrollTrigger)
  gsap.registerPlugin(ScrollToPlugin)
</script>

<style>
  body {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    font-family: "Noto Serif Hebrew", serif;
  }
  .divider {
    /* clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 60%); */
    margin-top: -40px;
    mix-blend-mode: overlay;
    /* background: rgb(181, 181, 214);
    background: linear-gradient(
      356deg,
      rgb(1, 1, 143) 0%,
      rgb(2, 62, 93) 100%
    ); */
  }
</style>
